<section class="landing">
  <div class="bg-img">
    <img src="/_images/studio.jpg" alt="" class="img">
  </div>
  <nav class="container">
    <div class="container__inner">
      <div class="nav__content">
        <img src="/_logos/wicon.svg" alt="" class="logo">
        <div class="links">
          <a href="http://learn.weld.co/" class="link__item">Knowledge Base</a>
          <a href="https://weld.typeform.com/to/hWBSfw" class="link__item">Day Pass Payment</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="landing__inner">
    <div class="text__content">
      {{!-- <div class="img__box">
        <img src="/_logos/wordmark.svg" class="wordmark" alt="WELD Logo">
      </div> --}}
      <h1 class="title">Reserve Studio Space</h1>
      <h3 class="sub">Please tip the studio after making your reservation or once you get paid.</h3>
    </div>
  </div>
</section>
<div class="squares">
  <div class="squares__inner">
    <span class="square__one">
      {{#link-to 'dallas' class="text" }}Dallas Bookings{{/link-to}}
    </span>
    <span class="square__one">
      {{#link-to 'nashville' class="text" }}Nashville Bookings{{/link-to}}
    </span>
  </div>
</div>
