<section class="landing">
  <div class="landing__inner">
    <div class="text__content">
      <h1 class="title">Reserve Studio & Event Space</h1>
      <div class="buttons">
        <a href="#" class="button">Nashville</a>
        <a href="#" class="button">Dallas</a>
      </div>
    </div>
  </div>
</section>
