<section class="cities">
  <div class="cities__inner">
    <div class="city__container">
      <div class="city__container__inner">
        <div class="content">
          <div class="city__image__container">
            <div class="text__content">
              <h1 class="city__title top">Nashville</h1>
              <button class="button top" type="button" name="button">Reserve Space</button>
            </div>
            <img src="/_images/nashville.jpg" alt="" class="city__image__container__image">
          </div>
        </div>
      </div>
    </div>
    <div class="city__container">
        <div class="city__container__inner cover">
          <div class="content">
            <div class="city__image__container">
              <div class="text__content">
                <h1 class="city__title top">Dallas</h1>
                <button class="button top" type="button" name="button">Reserve Space</button>
              </div>
              <img src="/_images/dallas.jpeg" alt="" class="city__image__container__image">
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
