<nav class="container">
  <div class="container__inner">
    <div class="nav__content">
      <img src="/_logos/wicon.svg" alt="" class="logo">
      <div class="links">
        <a href="http://learn.weld.co/" class="link__item">Knowledge Base</a>
        <a href="https://weld.typeform.com/to/hWBSfw" class="link__item">Day Pass Payment</a>
      </div>
    </div>
  </div>
</nav>
{{outlet}}
