<nav class="container">
  <div class="container__inner">
    <div class="nav__content">
      <div class="logo__container">
        <img src="/_logos/icon.png" class="logo" alt="WELD Logo">
      </div>
      <div class="links">
        <a href="http://learn.weld.co/" class="link__item">Knowledge Base</a>
        <a href="https://weld.typeform.com/to/hWBSfw" class="link__item">Day Pass Payment</a>
      </div>
    </div>
  </div>
</nav>
{{outlet}}
