<nav class="container">
  <div class="container__inner">
    <div class="nav__content">
      <div class="logo__container">
        <img src="/_logos/wordmark.png" class="logo" alt="WELD Logo">
      </div>
    </div>
  </div>
</nav>
{{outlet}}
<footer class="container footer">
  <div class="container__inner">
    <div class="nav__content">

    </div>
  </div>
</footer>
