.landing {
  background: $black;
  &__inner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 0 2rem;
  }
}

.text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.title {
  font-size: 42px;
  color: $white;
}

.buttons {
  padding-top: 3rem;
}
