// NAV STYLING
.container {
  background: $black;
  padding-top: 2rem;

  &__inner {
    width: 100%;
  }
}

.nav__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.logo {
  width: 100%;
  max-width: 2.5rem;
  opacity: 0.3;
  fill: $grey;
}

.links {
  display: flex;
  align-items: center;
}
.link__item {
  font-family: sans-serif;
  color: $white;
  text-decoration: none;
  margin: 0 1rem;
}
