// Colors
$weld: #f1592a;
$red: #CC4327;
$middle-red: #A83610;
$dark-red: #7F2311;
$dark-blue: #46525E;
$blue: #86A2A3;
$aqua: #A4D3CE;
$yellow: #FAAA31;
$true-black: #000000;
$faded-black: rgba(0, 0, 0, 0.8);
$dark-black: #222222;
$black: #302824;
$dark-grey: #615D5C;
$grey: #aaaaaa;
$middle-grey: #cccccc;
$light-grey: #dddddd;
$lightest-grey: #EEEEEE;
$white: #FFFFFF;
$blue-inactive: fade-out($blue, 0.7);

// Applications
$primary-color: $weld;
$secondary-color: $blue;

// Gradients
$bg-gradient: linear-gradient(to bottom left, fade-out($blue, 0.2), fade-out($primary-color, 0.2));
$bg-gradient-reverse: linear-gradient(to top right, fade-out($blue, 0.2), fade-out($primary-color, 0.2));

// Random Variables
$border: 1px solid darken($lightest-grey, 2);
$cubic: cubic-bezier(0.75,0,0.5,1);
$color-transition: background 400ms, color 300ms;
