*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: background 400ms, color 300ms;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
